{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
</head>
<body>

    <header class="header">
        <div class="header__container container__titulo">
            <h1>Agendinha</h1>
        </div>
        <div class="header__container container_menu">
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Registro</a></li>
            </ul>
        </div >
        <div class="header__container container_busca">
            <form action="">
                <input type="text" placeholder="Buscar">
            </form>
        </div>
    </header>

    {% block conteudo %}
    
    {% endblock conteudo %}
    

    <footer class="footer">
        Pedro Lisboa &copy 2023
    </footer>
</body>
</html>