{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
</head>
<body>

    <header class="header">

        <div class="header__container container__titulo">
            <a href="{% url 'index' %}">
                <h1>Agendinha</h1>
            </a>
        </div>

        <div class="header__container container_menu">
            <ul>
                <li><a href="{% url 'criar' %}">Criar</a></li>
                <li><a href="#">Registro</a></li>
            </ul>
        </div >

        <div class="header__container container_busca">
            <form action="{% url 'buscar' %}" method="get">
                <input type="search" placeholder="Buscar" name="q" id="buscar" value={{valor_buscar}}>
            </form>
        </div>

    </header>

    {% block conteudo %}
    
        
    
    {% endblock conteudo %}

    

    <footer class="footer">
        Pedro Lisboa &copy 2023
    </footer>
</body>
</html>