{% extends "base.html" %}

{% block titulo %}
    UNICA
{% endblock titulo %}


{% block conteudo %}

    <div class="container__main contato__unico">
        <div class="container__contatos ">
            <h1>{{contato.nome}} {{contato.sobrenome}}</h1>
            <p><b>ID:</b> {{contato.id}}</p>
            <p><b>Telefone:</b> {{contato.telefone}}</p>
            <p><b>Email:</b> {{contato.email}}</p>
            <p><b>Data de Criacação:</b> {{contato.data_de_criacao}}</p>
            <p><b>Descrição:</b> {{contato.descricao}}</p>
            <p><b>Categoria:</b> {{contato.categoria.nome}}</p>
        </div>
    </div>
 

    

{% endblock conteudo  %}