{% extends "base.html" %}

{% block titulo %} Agendinha! {% endblock %} 

{% block conteudo %}


    <div class="container__main">
        <div class="container__contatos">

            <h2>Contatos</h2>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contato in contatos %}
                        <tr>
                            <td>{{contato.id}}</td>
                            <td>{{contato.nome}}</td>
                            <td>{{contato.sobrenome}}</td>
                            <td>{{contato.telefone}}</td>
                            <td>{{contato.email}}</td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>

        </div>

    </div>



{% endblock conteudo %}