{% extends "base.html" %}

{% block titulo %} Agendinha! {% endblock %} 

{% block conteudo %}


    <main class="container__main">
        <div class="container_contatos">

            <h2>Contatos</h2>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </main>



{% endblock conteudo %}