
body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}


body {
  background-color: #f2f2f2;
  font-family: Helvetica, Arial, sans-serif;
}

/* Centralizando o título na barra de cabeçalho */
.container__titulo {
  text-align: center;
}

/* Estilizando a barra de cabeçalho */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}


.container_menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 10px 0; 
}

.container_menu li {
  margin: 0 10px;
}

.container_menu a {
  text-decoration: none;
  color: white; 
}


.container_busca form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0; 
}

.container_busca input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
