
body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}


body {
  background-color: #f2f2f2;
  font-family: Helvetica, Arial, sans-serif;
}


.container__titulo {
  text-align: center;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.container_menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 10px 0; 
}

.container_menu li {
  margin: 0 10px;
}

.container_menu a {
  text-decoration: none;
  color: white; 
}

.container_busca form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0; 
}

.container_busca input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container__main {
  text-align: center; /* Centraliza o conteúdo */
  padding-bottom: 100px; /* Espaço na parte inferior para o rodapé */
}

.container__contatos {
  display: inline-block;
  text-align: left; /* Centraliza a tabela na tela */
  padding: 20px;
  background-color: #fff; /* Cor de fundo para a tabela */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra à tabela */
}


table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}


tbody tr:nth-child(even) {
  background-color: #f2f2f2; 
}

tbody tr:nth-child(odd) {
  background-color: #e0e0e0; 
}


.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}


/* Estilo para a estrutura de paginação */
.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilo para os links de paginação */
.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 2px;
}

/* Estilo para o link atual */
.pagination .current {
  background-color: #acacac;
  padding: 5px;
  border-radius: 5px;
}

/* Estilo para os links "previous" e "next" */
.pagination .prev,
.pagination .next {
  font-weight: bold;
}

/* Estilo para os links "first" e "last" */
.pagination .first,
.pagination .last {
  font-weight: bold;
}

/* Estilo para os ícones de setas (opcional) */
.pagination .prev::before,
.pagination .next::after,
.pagination .first::before,
.pagination .last::after {
  content: '\2190'; /* Setinha para a esquerda */
  font-size: 14px;
  margin-right: 5px;
}

.pagination .next::after,
.pagination .last::after {
  content: '\2192'; /* Setinha para a direita */
  margin-right: 0;
}
